@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Montserrat&display=swap");
.title-custom {
  font-family: 'Playfair',serif;
  color: #ff6666;
  text-align: center;
  color: #ff6666; }

.paragraph-custom {
  font-family: 'Playfair',serif;
  color: #00000094; }

.index-body {
  background-image: url("../images/templates/index/mssl_bg_templates.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.index__highlights {
  width: fit-content;
  height: fit-content;
  margin-left: 30%;
  margin-right: 30%; }

.index__img {
  height: 350px;
  width: 450px;
  position: relative; }

.carousel-control {
  color: black;
  right: 5px; }

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px; }

@media only screen and (max-width: 767px) {
  .navbar-brand {
    display: none; }
  #navCart {
    display: none; } }

.navbar-custom {
  background-color: #ff666a0;
  backdrop-filter: blur(5px); }
  .navbar-custom a {
    color: #ff6666 !important;
    font-family: 'Montserrat',serif;
    text-transform: uppercase; }
    .navbar-custom a img {
      margin: 0;
      max-width: 100%;
      height: 100px; }
  .navbar-custom .dropdown-menu {
    background-color: #ff666a0; }

.index-body {
  background-image: url("../images/templates/index/mssl_bg_templates.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1; }

.products__page-title {
  text-align: left; }

.products__title {
  text-align: right;
  margin-bottom: 10px; }

.index-body {
  background-image: url("../images/templates/index/mssl_bg_templates.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.products__image {
  width: 100%;
  height: 14em;
  z-index: 1; }

.products__icon {
  width: 4em;
  height: 4em;
  position: absolute;
  transform: translate(-25px, 50px);
  z-index: 0; }

.products__page-title {
  text-align: left; }

.products__title {
  font-family: "Playfair",serif;
  text-align: right;
  margin-bottom: 10px; }

.product__category:hover .card {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2; }

.jam, .bakery, .deli, .seasons {
  cursor: pointer; }

.seasons, #summer, #winter, #spring, #autumn, .bakery__display, .deli__display {
  display: none; }

.jam__text, .deli__text, .bakery__text {
  font-family: 'Playfair',serif;
  color: #ff6666; }
  .jam__text span, .deli__text span, .bakery__text span {
    font-weight: bold;
    font-size: larger; }

.seasonsTabs .nav-link {
  color: #ff6666; }
  .seasonsTabs .nav-link.active {
    font-weight: bold;
    border-color: #ff6666;
    color: #ff6666; }

.products__display--title {
  border-top: 3px solid #ff6666;
  border-bottom: 3px solid #ff6666;
  font-size: x-large; }

.index-body {
  background-image: url("../images/templates/index/mssl_bg_templates.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.icon img {
  height: 75px; }

.index-body {
  background-image: url("../images/templates/index/mssl_bg_templates.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.justify-content-start {
  margin-left: 5em; }

.products__page-title {
  text-align: left; }

.products__title {
  text-align: right;
  margin-bottom: 10px; }

.footer-custom {
  background-color: rgba(255, 102, 102, 0.95);
  font-family: 'Montserrat',serif;
  color: #fcf8ec; }
  .footer-custom h3 {
    text-transform: uppercase; }
  .footer-custom ul {
    list-style-type: none;
    background-color: inherit;
    color: inherit; }
  .footer-custom a {
    color: inherit; }
  .footer-custom .p-3 {
    background-color: rgba(0, 0, 0, 0.1); }
  .footer-custom li {
    color: inherit;
    background-color: inherit; }
