.index-body {
    background-image: url("../images/templates/index/mssl_bg_templates.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.icon img{ 
    @include iconsize(75px);
}