.index-body {
    background-image: url("../images/templates/index/mssl_bg_main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index__img {
    height: 400px;
    width: 400px;
}

.carousel-control {
    color: black;
}