.index-body {
    background-image: url("../images/templates/index/mssl_bg_templates.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index__highlights {
    width: fit-content;
    height: fit-content;
    margin-left: 30%;
    margin-right: 30%;
}

.index__img {
    height: 350px;
    width: 450px;
    position: relative;
}

.carousel-control {
    color: black;
    right: 5px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width:767px) {
    .navbar-brand {
        display: none;
    }

    #navCart {
        display: none;
    }
}