.index-body {
    background-image: url("../images/templates/index/mssl_bg_templates.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.products__image {
    width: 100%;
    height: 14em;
    z-index: 1;
}

.products__icon {
    width: 4em;
    height: 4em;
    position: absolute;
    transform: translate(-25px, 50px);
    z-index: 0;
}

.products__page-title {
    text-align: left;
}

.products__title {
    font-family: "Playfair",serif;
    text-align: right;
    margin-bottom: 10px;
}

.product__category {
    &:hover {
        .card{
        transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2;
        }
    }

    
}

.jam, .bakery, .deli, .seasons {
    cursor: pointer;
}

  .seasons, #summer, #winter, #spring, #autumn, .bakery__display, .deli__display {
    display: none;
}

.jam__text, .deli__text, .bakery__text {
    font-family: 'Playfair',serif;
    color: $orange;
    span {
        font-weight: bold;
        font-size: larger;
    }

}

.seasonsTabs {
    .nav-link{
    color: $orange;
    &.active {
        font-weight: bold;
        border-color: $orange;
        color: $orange;
    }}
}

.products__display--title {
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;
    font-size: x-large;
}