.index-body {
    background-image: url("../images/templates/index/mssl_bg_templates.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.justify-content-start{
    margin-left: 5em;
}

.products__page-title {
    text-align: left;
}

.products__title {
    text-align: right;
    margin-bottom: 10px;
}